meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
link(rel='stylesheet', type='text/css', href='/public/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/public/css/bootstrap-table.css')
link(rel='stylesheet', type='text/css', href='/public/css/jquery.growl.css')
link(rel='stylesheet', type='text/css', href='/public/css/select2.min.css')
script(src='/public/js/jquery.js')
script(src='/public/js/bootstrap.js')
script(src='/public/js/bootstrap-table.js')
script(src='/public/js/bootstrap-table-zh-CN.js')
script(src='/public/js/jquery.growl.js')
script(src='/public/js/hashParams.js')
script(src="/public/js/select2.min.js")