#developer_modal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        form.form-horizontal.modal-content(role='form')
            .modal-body
                .form-group
                    label.control-label.col-sm-2(for='name') 姓名
                    .col-sm-10
                        input.form-control(type='text', name='name' v-model='info.name')
                .form-group
                    label.control-label.col-sm-2(for='addr') 地址
                    .col-sm-10
                        input.form-control(type='text', name='addr' v-model='info.addr')
                .form-group
                    label.control-label.col-sm-2(for='port') 端口号
                    .col-sm-10
                        input.form-control(type='number', name='port' v-model='info.port')
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') 取消
                button.btn.btn-primary(type='button', @click='upload()') 确定
script(src='/public/js/vue.js')
script(src='/public/js/vue-select.js')
script(src="/js/modal/developer.js")